---
layout: default
title: Home
---

<section class="jumbotron">
    <div class="container">
        <h1>IT'S ANYONE'S GAME</h1>
        <p>You don't have to be rich, move out west, or dedicate your entire life to enjoy fly fishing.</p>
        <a class="btn btn-large" href="/posts-by-date-asc/">Start Here</a>
    </div>
</section>

<div class="container">
    {% include intro.html %}
    <hr>
    <section class="post-list">
    {% for post in site.posts %}
        {% capture currentyear %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% if currentyear != year %}
            <h2 class="post-list-year">{{ currentyear }}</h2>
        {% capture year %}{{ currentyear }}{% endcapture %}
        {% endif %}

        <div class="post-list-item">
            <span class="post-list-date">{{ post.date | date: '%B %d, %Y' }}</span>
            <a class="post-list-link" href="{{ post.url }}">{{ post.title }}</a>
        </div>
    {% endfor %}

    </section>
</div>