<section class="intro">  
    <div class="card-deck">
        <div class="card">
            <h4>Just Starting?</h4>
            <small>Start reading from the beginning.</small>
            <a class="btn" href="/posts-by-date-asc/">View Posts</a>
        </div>
        <div class="card">
            <h4>By Category</h4>
            <small>View all posts sorted by categories.</small>
            <a class="btn" href="/posts-by-category/">View Posts</a>
        </div>
        <div class="card">
            <h4>Fishing Reports</h4>
            <small>Only view posts from actual fishing trips.</small>
            <a class="btn" href="/posts-by-report/">View Posts</a>
        </div>
    </div>
</section>