

.btn {
    display: inline-block;
    padding: .25rem 1rem;    
    background-color: $brand-primary;
    color: #fff;
    font-weight: 300;
    border-bottom: none;
    transition: none;
        
    &:hover,
    &:focus,
    &:active {
        background-color: darken($brand-primary,6.5%);
        text-decoration: none;
        border-bottom: none;
    }
}

.btn-large {
    padding: .5rem 4rem;
}