// Intro
//
// Three cards on the home page.

.intro {
    margin: 3rem 0;
    font-family: $font-family-sans;
}

.intro .card {
	padding: 0;
	margin-bottom: 2rem;
    text-align: center;
    
    @media (min-width: $break-point-md) {
        padding: 0.5rem;
        margin-bottom: 0;    
    }
}

.intro h4 {
    margin-top: 0;
	font-weight: 400;
    font-size: 1.4rem;
}

.intro small {
    display: block;
    margin-bottom: .5rem;
    font-weight: 300;
    color: $font-color-muted;
    
    @media (min-width: $break-point-md) {
        min-height: 4em;
        margin-bottom: 0;
    }
}

