// Intro
//
// Three cards on the home page.

.intro {
    margin: 3rem 0;
    font-family: $font-family-sans;
    text-align: center;
    
    .card:last-of-type {
        margin-bottom: 0;
    }
    
    h4 {
        margin-top: 0;
        font-weight: 400;
        font-size: 1.4rem;
        white-space: nowrap;
    }
    
    small {
        display: block;
        margin-bottom: .5rem;
        font-weight: 300;
        color: $font-color-muted;
        
        @media (min-width: $break-point-md) {
            min-height: 4em;
            margin-bottom: 0;
        }
    }
    
    .btn {
        vertical-align: bottom
    }
}

