// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.page,
.post {
  margin: 3rem 0;
}

.page-title,
.post-title {
  margin-top: 0;
  margin-bottom: 2rem;
}

// Meta data line on top of post title
.post-date {
  display: block;
  font-size: .8rem;
  margin-top: -.5rem;
  margin-bottom: 0;
  color: $font-color-muted;
}


// Related posts
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid $border-trim-color;
}

.related-posts {
  padding-left: 0;
  list-style: none;

  h3 {
    margin-top: 0;
  }

  li {
    small {
      font-size: 75%;
      color: #999;
    }
  }
}

.post-list {
    margin-bottom: 3rem;
}

.post-list-year,
.post-list-category {
    font-weight: 400;
}

.post-list-item {
    margin-bottom: 1rem;
    
    @media (min-width: $break-point-desktop) {
       margin-bottom: .5rem;     
    }
}

.post-list-date {
    display: block;
    float: none;
    color: $font-color-muted;
    
    @media (min-width: $break-point-desktop) {
       float: right;      
    }
}