

//== Colors
//

$gray-base:                  #000000;
$gray-darker:                #222222; 
$gray-dark:                  #333333;
$gray:                       #515151; 
$gray-light:                 #777777; 
$gray-lighter:               #9a9a9a; 

$brand-base:                 #428bca;
$brand-primary:              darken($brand-base, 6.5%);    // #337ab7
$brand-alert:                #1abc9c;
$brand-alert-muted:          #2DC4B9; //lighten($brand-alert, 55%);

//== Type
//

$font-family-sans:           'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:          'Droid Serif', Georgia, serif;

$font-size-sm:               16px !default;
$font-size-lg:               18px !default;
$font-line-height:           1.618 !default;

$font-color-base:            $gray !default;
$font-color-muted:           $gray-lighter !default;
$font-color-strong:          $gray-dark !default;

$link-color-base:            $gray-darker !default;

$header-color-base:          $gray-dark !default;
$header-font-weight:         400 !default; 


//== Layout
//

$break-point-sm:             544px !default;
$break-point-md:             700px !default;
$break-point-lg:             1200px !default;
$container-max-width:        700px !default;

$page-bg-color:              #fff !default;
$border-trim-color:          #e5e5e5 !default;


//== Spacing
//

$spacer:                     1rem !default;
$spacer-x:                   $spacer !default;
$spacer-y:                   $spacer !default;

