

//== Colors
//

$gray-base:                  #000;
$gray-darker:                lighten($gray-base, 13.5%); // #222
$gray-dark:                  lighten($gray-base, 20%);   // #333
$gray:                       lighten($gray-base, 33.5%); // #555
$gray-light:                 lighten($gray-base, 46.7%); // #777
$gray-lighter:               lighten($gray-base, 60.5%); // #9a9a9a

$brand-primary:              darken(#428bca, 6.5%);    // #337ab7


//== Type
//

$font-family-sans:           'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:          'Droid Serif', Georgia, serif;

$font-size-sm:               16px !default;
$font-size-lg:               18px !default;
$font-line-height:           1.618 !default;

$font-color-base:            $gray !default;
$font-color-muted:           $gray-lighter !default;
$font-color-strong:          $gray-dark !default;

$link-color-base:            $gray-darker !default;

$header-color-base:          $gray-dark !default;
$header-font-weight:         400 !default; 


//== Layout
//

$break-point-sm:             544px !default;
$break-point-md:             700px !default;
$break-point-lg:             1200px !default;
$container-max-width:        700px !default;

$page-bg-color:              #fff !default;
$border-trim-color:          #e5e5e5 !default;


//== Spacing
//

$spacer:                     1rem !default;
$spacer-x:                   $spacer !default;
$spacer-y:                   $spacer !default;

