---
layout: default
---

<div class="container">
    <article class="post">
        <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date: '%B %d, %Y' }}</time>
        <h1 class="post-title">{{ page.title }}</h1>
        
        {% if page.category == "Reports" %}
        <table>
            <tbody>
                <tr>
                    <th>Location:</th>
                    <td>{{ page.Location }}</td>
                </tr>
                <tr>
                    <th>Weather:</th>
                    <td>{{ page.Weather }}</td>
                </tr>
                <tr>
                    <th>Air Temp:</th>
                    <td>{{ page.AirTemp }}</td>
                </tr>
                <tr>
                    <th>Water Temp:</th>
                    <td>{{ page.WaterTemp }}</td>
                </tr>
                <tr>
                    <th>Outcome:</th>
                    <td>{{ page.Outcome }}</td>
                </tr>
            </tbody>
        </table>
        {% endif %}
        
        {{ content }}
    </article>
    <hr>
    {% include intro.html %}
    
</div>
